flows_raspberrypi.json
[
    {
        "id": "74e6a011.54203",
        "type": "tab",
        "label": "GUI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "319b59f8.ec5c76",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "2442d3f.7f8ad2c",
        "name": "Keyshot XR",
        "order": 7,
        "width": "7",
        "height": "5",
        "format": "<div style=\"max-width: 600px; max-height: 439px;\">\n  <div style=\"left: 0px; width: 100%; height: 0px; position: relative; padding-bottom: 73.1667%; overflow: hidden;\">\n    <iframe src=\"/CSS/Turntable.html\"\n                 allowfullscreen\n                 style=\"position: absolute; top: 0px; left: 0px; height: 100%; width: 1px; min-width: 100%; *width: 100%;\"\n                 frameborder=\"0\"\n                 scrolling=\"no\">\n    </iframe>\n  </div>\n</div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 370,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "ba92d1c6.0f735",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "141380a2.be1f7f",
        "name": "CSS",
        "order": 2,
        "width": "1",
        "height": "1",
        "format": "<style>\n\n    body {\n        background-image: url(\"/CSS/Background.jpg\");\n        background-color: #cccccc;\n    }\n    \n    .md-toolbar-tools {\n        background-color: #333333;\n        height: 120px;\n    }\n    \n    #logo {  width: 84px; height: 84px; } \n    \n    #GUI_CSS { width: 0px; visibility: hidden; }\n    \n    #GUI_Status { height: 440px; }\n    \n    #GUI_Steuerung { height: 440px; }\n    \n    #GUI_Bildanalyse  { height: 440px; }\n    \n    #GUI_MQTT_Konsole { height: 440px; }\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d3c58ab1.c4c8b8",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "141380a2.be1f7f",
        "name": "head",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<link rel=\"icon\" sizes=\"192x192\" href=\"/CSS/theshaker192x192.png\">\n<link rel=\"shortcut icon\" type=\"image/png\" href=\"/CSS/theshaker64x64.png\">\n<link rel=\"apple-touch-icon\" href=\"/CSS/theshaker120x120.png\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 170,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4d4ce048.e9d26",
        "type": "ui_button",
        "z": "74e6a011.54203",
        "name": "",
        "group": "2442d3f.7f8ad2c",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Programm Starten",
        "tooltip": "Prozess Starten. Sicherstellen, dass sich Steine im Auffangbeh채lter befinden.",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "{\"mode\":\"start\"}",
        "payloadType": "json",
        "topic": "",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "eb9240a9.32c62",
                "f9f97e67.0b157",
                "8eefa527.c95678",
                "a5e4ec57.43af1",
                "b0fe57af.9f7458",
                "36a75eab.b6ed52"
            ]
        ]
    },
    {
        "id": "c2659aba.171888",
        "type": "ui_button",
        "z": "74e6a011.54203",
        "name": "",
        "group": "2442d3f.7f8ad2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Programm Stoppen",
        "tooltip": "Den Prozess Stoppen",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-stop",
        "payload": "{\"mode\":\"stop\"}",
        "payloadType": "json",
        "topic": "",
        "x": 650,
        "y": 880,
        "wires": [
            [
                "e4dcc09f.28ebf"
            ]
        ]
    },
    {
        "id": "693febcc.c46d44",
        "type": "comment",
        "z": "74e6a011.54203",
        "name": "Steuerung",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "e4dcc09f.28ebf",
        "type": "ui_toast",
        "z": "74e6a011.54203",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "Ja",
        "cancel": "Nein",
        "topic": "Wollen Sie das Programm unwiederruflich stoppen?",
        "name": "Best채tigung",
        "x": 890,
        "y": 880,
        "wires": [
            [
                "6ced7490.5f633c",
                "bbb29d4.675796",
                "b8a764ef.1a4a08",
                "748a65a0.2a026c",
                "7962fa2e.73a5a4"
            ]
        ]
    },
    {
        "id": "5fc021a4.e6d85",
        "type": "ui_button",
        "z": "74e6a011.54203",
        "name": "",
        "group": "2442d3f.7f8ad2c",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Pausieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "#d8b94b",
        "icon": "fa-pause",
        "payload": "{\"mode\":\"pause\"}",
        "payloadType": "json",
        "topic": "",
        "x": 620,
        "y": 700,
        "wires": [
            [
                "363705dd.195f0a",
                "b8a764ef.1a4a08",
                "7962fa2e.73a5a4"
            ]
        ]
    },
    {
        "id": "9daab84d.ce5f18",
        "type": "comment",
        "z": "74e6a011.54203",
        "name": "Analyse",
        "info": "",
        "x": 90,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9fabf66d.98dab8",
        "type": "comment",
        "z": "74e6a011.54203",
        "name": "CSS Attribute",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "abdfbd0.187a64",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "7f62e048.1f172",
        "name": "Foto: Vergleich",
        "order": 4,
        "width": "4",
        "height": "3",
        "format": "<style>\n   .placeholdercompare {\n        width: 100%;\n        height: 270px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/CSS/placeholder_compare.png');\n        overflow: hidden;\n    }\n    \n    #placeholder1 {\n        width: 100%;\n        height: 270px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/Pictures/compare.jpg?{{msg.payload}}');\n    }\n</style>\n\n<br>\n<div class=\"placeholdercompare\">\n    <div id=\"placeholder1\"></div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 540,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "839ba232.7ebd",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "141380a2.be1f7f",
        "name": "Logo",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n    \n    $('h1').remove();\n    \n    $('#logo').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var logo = $('<img src=\"/CSS/Logo.png\" id=\"logo\">');\n    \n    $('#titleScript').parent().hide();\n    toolbar.append(logo);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 170,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e5928ad9.839c98",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "7f62e048.1f172",
        "name": "Foto: Unterschied",
        "order": 5,
        "width": "8",
        "height": "5",
        "format": "<style>\n    .placeholderopencv {\n        width: 100%;\n        height: 270px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/CSS/placeholder_opencv.png');\n        overflow: hidden;\n    }\n    \n    #placeholder2 {\n        width: 100%;\n        height: 270px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/Pictures/difference.jpg?{{msg.payload}}');\n    }\n</style>\n\n<div class=\"placeholderopencv\">\n    <div id=\"placeholder2\"></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 550,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "10aa44ee.36142b",
        "type": "ui_button",
        "z": "74e6a011.54203",
        "name": "",
        "group": "2442d3f.7f8ad2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stein hinzuf&uuml;gen",
        "tooltip": "einen weiteren Stein nachschicken",
        "color": "",
        "bgcolor": "",
        "icon": "fa-plus",
        "payload": "{\"mode\":\"resume\"}",
        "payloadType": "json",
        "topic": "",
        "x": 660,
        "y": 920,
        "wires": [
            [
                "7962fa2e.73a5a4"
            ]
        ]
    },
    {
        "id": "301bdf8b.16ba6",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "141380a2.be1f7f",
        "name": "Uhrzeit",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 180,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9240a9.32c62",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Disable Start",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "4d4ce048.e9d26"
            ]
        ]
    },
    {
        "id": "21e9dc85.174404",
        "type": "ui_button",
        "z": "74e6a011.54203",
        "name": "",
        "group": "2442d3f.7f8ad2c",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Fortsetzen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "{\"mode\":\"resume\"}",
        "payloadType": "json",
        "topic": "",
        "x": 630,
        "y": 780,
        "wires": [
            [
                "f9f97e67.0b157",
                "a5e4ec57.43af1",
                "7962fa2e.73a5a4"
            ]
        ]
    },
    {
        "id": "f9f97e67.0b157",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Enable Pause",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "5fc021a4.e6d85"
            ]
        ]
    },
    {
        "id": "363705dd.195f0a",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Enable Continue",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "21e9dc85.174404"
            ]
        ]
    },
    {
        "id": "b8a764ef.1a4a08",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Disable Pause",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "5fc021a4.e6d85"
            ]
        ]
    },
    {
        "id": "a5e4ec57.43af1",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Disable Continue",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 780,
        "wires": [
            [
                "21e9dc85.174404"
            ]
        ]
    },
    {
        "id": "8eefa527.c95678",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Enable Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "c2659aba.171888"
            ]
        ]
    },
    {
        "id": "6ced7490.5f633c",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Disable Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "c2659aba.171888"
            ]
        ]
    },
    {
        "id": "bbb29d4.675796",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Enable Start",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "4d4ce048.e9d26"
            ]
        ]
    },
    {
        "id": "b0fe57af.9f7458",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Disable Stone",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "10aa44ee.36142b"
            ]
        ]
    },
    {
        "id": "748a65a0.2a026c",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "Enable Stone",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "10aa44ee.36142b"
            ]
        ]
    },
    {
        "id": "531ac80a.d2f0b8",
        "type": "ui_template",
        "z": "74e6a011.54203",
        "group": "7f62e048.1f172",
        "name": "Foto: Kalibrierbild",
        "order": 2,
        "width": "4",
        "height": "3",
        "format": "<style>\n   .placeholderkamera {\n        width: 100%;\n        height: 400px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/CSS/placeholder_kamera.png');\n        overflow: hidden;\n    }\n    \n    #placeholder3 {\n        width: 100%;\n        height: 400px;\n        background-repeat: no-repeat;\n        background-size: contain;\n        background-image: url('/Pictures/calibrate.jpg?{{msg.payload}}');\n    }\n</style>\n\n<div class=\"placeholderkamera\">\n    <div id=\"placeholder3\"></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 550,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae1a4f9.76365c",
        "type": "ui_text",
        "z": "74e6a011.54203",
        "group": "7f62e048.1f172",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bef&uuml;llungsgrad",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 420,
        "y": 1340,
        "wires": []
    },
    {
        "id": "da9431eb.e1fdf",
        "type": "mqtt in",
        "z": "74e6a011.54203",
        "name": "",
        "topic": "pdp/load",
        "qos": "2",
        "datatype": "auto",
        "broker": "a47963d9.93a13",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "2ae1a4f9.76365c",
                "32f7232f.74c66c",
                "17b35108.59ca5f",
                "baac8940.1726d8"
            ]
        ]
    },
    {
        "id": "32f7232f.74c66c",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "pfad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "e5928ad9.839c98"
            ]
        ]
    },
    {
        "id": "17b35108.59ca5f",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "pfad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "abdfbd0.187a64"
            ]
        ]
    },
    {
        "id": "baac8940.1726d8",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "pfad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "531ac80a.d2f0b8"
            ]
        ]
    },
    {
        "id": "f570a662.147c38",
        "type": "start-up-trigger",
        "z": "74e6a011.54203",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "6ced7490.5f633c",
                "b8a764ef.1a4a08",
                "a5e4ec57.43af1",
                "bbb29d4.675796"
            ]
        ]
    },
    {
        "id": "2edf8de1.288222",
        "type": "mqtt in",
        "z": "74e6a011.54203",
        "name": "",
        "topic": "pdp/finished",
        "qos": "2",
        "datatype": "auto",
        "broker": "a47963d9.93a13",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "276e384d.89e3f8",
                "bbb29d4.675796",
                "b8a764ef.1a4a08",
                "a5e4ec57.43af1",
                "6ced7490.5f633c",
                "748a65a0.2a026c"
            ]
        ]
    },
    {
        "id": "276e384d.89e3f8",
        "type": "ui_toast",
        "z": "74e6a011.54203",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Programm abgeschlossen",
        "name": "finished",
        "x": 880,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7962fa2e.73a5a4",
        "type": "mqtt out",
        "z": "74e6a011.54203",
        "name": "",
        "topic": "pdp/prg",
        "qos": "",
        "retain": "",
        "broker": "a47963d9.93a13",
        "x": 1340,
        "y": 740,
        "wires": []
    },
    {
        "id": "36a75eab.b6ed52",
        "type": "ui_toast",
        "z": "74e6a011.54203",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "Abbrechen",
        "topic": "Bitte stellen Sie sicher, dass sich keine Steine im Beh채lter befinden.",
        "name": "Best채tigung",
        "x": 890,
        "y": 560,
        "wires": [
            [
                "4bc60c26.0a38d4"
            ]
        ]
    },
    {
        "id": "1a19ce93.8d5fd1",
        "type": "change",
        "z": "74e6a011.54203",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"mode\":\"start\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 560,
        "wires": [
            [
                "7962fa2e.73a5a4"
            ]
        ]
    },
    {
        "id": "4bc60c26.0a38d4",
        "type": "switch",
        "z": "74e6a011.54203",
        "name": "if",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Abbrechen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "1a19ce93.8d5fd1"
            ],
            [
                "bbb29d4.675796",
                "b8a764ef.1a4a08",
                "a5e4ec57.43af1",
                "6ced7490.5f633c"
            ]
        ]
    },
    {
        "id": "2442d3f.7f8ad2c",
        "type": "ui_group",
        "z": "",
        "name": "Steuerung",
        "tab": "e2666467.aced58",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "141380a2.be1f7f",
        "type": "ui_group",
        "z": "",
        "name": "CSS",
        "tab": "e2666467.aced58",
        "order": 1,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "7f62e048.1f172",
        "type": "ui_group",
        "z": "",
        "name": "Bildanalyse",
        "tab": "e2666467.aced58",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a47963d9.93a13",
        "type": "mqtt-broker",
        "z": "",
        "name": "Raspi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e2666467.aced58",
        "type": "ui_tab",
        "z": "",
        "name": "GUI",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
